## Deliverable 3. Create a Travel Itinerary Map.

In [72]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [73]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,16,Biltine,TD,83.64,few clouds,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
1,31,Alofi,NU,82.40,scattered clouds,-19.0595,-169.9187,Taloa Heights
2,36,Avarua,CK,82.40,broken clouds,-21.2078,-159.7750,Paradise Inn
3,38,Takoradi,GH,80.29,light rain,4.8845,-1.7554,Raybow International Hotel
4,54,Nhulunbuy,AU,84.20,scattered clouds,-12.2333,136.7667,East Arnhem Real Estate

In [74]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [75]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Tomatlan"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Tomatlan"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Acapulco"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Salina Cruz"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Bocana De Paiwas"]

#vacation_df.set_index("City", inplace=True)
#vacation_start = vacation_df.loc["Bonthe"]
#vacation_end = vacation_df.loc["Bonthe"]
#vacation_stop1 = vacation_df.loc["Atar"]
#vacation_stop2 = vacation_df.loc["Alibag"]
#vacation_stop3 = vacation_df.loc["Buraydah"]
type(vacation_end)

pandas.core.frame.DataFrame

In [103]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(vacation_end)

    City_ID      City Country  Max Temp Current Description      Lat     Lng  \
85      645  Tomatlan      MX     81.88       broken clouds  19.9333 -105.25

      Hotel Name
85  Norma franco

In [105]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [107]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,645,Tomatlan,MX,81.88,broken clouds,19.9333,-105.2500,Norma franco
1,191,Acapulco,MX,84.20,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
2,518,Salina Cruz,MX,83.73,clear sky,16.1667,-95.2000,Amerik HOTEL
3,114,Bocana De Paiwas,NI,84.40,broken clouds,12.7857,-85.1227,Guapinol Cabaña Monge

In [108]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [112]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))